<h1>Listado</h1>

<div class="b-hero" *ngFor="let hero of arrayHeroes">
    <div class="b-hero__fondo"></div>
    
    <div class="b-hero__stick">
            <div class="b-hero__powerstats b-hero__powerstats--Skew">
            <div class="">
                <p class="b-text__slide">jojojojojojg</p>
                <p class="b-text__slide">lklkhlkjhlkj</p>
                <p class="b-text__slide">lñlkjñlkjsigf</p>

            </div>
        </div>
        
        <div>
            <div class="b-hero__description b-hero__description--notSkew">
                <img class="b-hero__img" src="{{hero.image}}">
            
                
                <div class="b-hero__info">
                    <p class="b-text__slide b-text__slide--name">{{hero.name}} </p>
                    <p class="b-text__slide">afsg</p>
                    <p class="b-text__slide">asgsdfg</p>
                    <p class="b-text__slide">qwrtwer</p>

                </div>

            </div>
        </div>
    </div>
    
</div>

