
<div  @myInsertRemoveTrigger class="b-detail">
    <div class="b-detail__container"> 
        <div class="b-detail__sup">
            <img class="b-detail__img" src="{{heroDetail.image}}" alt="imagen de {{heroDetail.name}}">
            
            <div class="b-detail__name">
                <p class="b-text__slide">Name: {{heroDetail.name}}</p>
                <p>Gender: {{heroDetail.gender}}</p>
                <p>Race: {{heroDetail.race}}</p>
            </div>
        </div>
        <div class="b-detail__description">
    
                 <!-- <p>Weight: {{heroDetail.weight[0]}}</p> -->
                <!-- <p>Height: {{heroDetail.height[0]}}</p> -->
                <p>Base: {{heroDetail.base}}qwtqtw</p>
                <p>{{heroDetail.fullName}}qwtrwr</p>
                <p>{{heroDetail.groupAffiliation}}qwtrwr</p>
                <p>{{heroDetail.alignment}}wrtwert</p>
                wqwerywetywert
        </div>
        
    </div>
    
</div>