.b-stats{

width: 100%;
display:flex;
justify-content: center;


    &__container{
        width: 90%;
        display: flex;
        
        justify-content: space-between;

    }

}
.b-filter{

    width:300px;
    background-color: cornflowerblue;
}
.b-gallery{
    display: flex;
    flex-direction: column;
}